---
---

@import "{{ site.theme }}";

.markdown-body,
body,
.main-content,
.page-content,
.markdown-body p,
.markdown-body li {
  text-align: justify !important;
}

$header-heading-color: #fff !default;
$header-bg-color: #5d95cc !default;
$header-bg-color-secondary: #d1be14 !default;