---
---

// Headers
$header-bg-color: #255078ff;
$header-bg-color-secondary: #5d95cc;
// Text
$section-headings-color: #255078ff !default;

@import "{{ site.theme }}";

body,
.markdown-body {
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Liberation Sans', sans-serif;
}

img[alt="Agrarias"],
img[alt="Ingeniería"],
img[alt="Biología"],
img[alt="Salud"],
img[alt="Exactas"],
img[alt="Tecnología"],
img[alt="Sociales"] {
  margin-right: 8px;
  vertical-align: middle;
}

